[submodule "rpi_ws281x"]
	path = rpi_ws281x
	url = https://github.com/jgarff/rpi_ws281x.git
[submodule "ndarray"]
	path = ndarray
	url = https://github.com/ndarray/ndarray.git
[submodule "pybind11"]
	path = pybind11
	url = git@github.com:pybind/pybind11.git
	branch = stable
